@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #020A18;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.container {
    max-width: 1146px;
    margin: 0 auto; 
}

.header {
    max-width: 1920px;
    background-color: #0a121f;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__list {
        display: flex;
    }

    &__link {
        color: #fff;
        font-weight: 600;
        margin-right: 40px;

    }

    &__item:last-child {
        margin-right: 134px;
    }
}

.home {
    margin-top: 162px;
    
    &__data {
        display: flex;
    }

    &__data-subtitle {
        color: #3A68B8;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;   
    }

    &__data-title {
        font-size: 55px;
        font-weight: 800;
        width: 604px;
        height: 142px;
        line-height: 130%;
        margin-top: 10px;
    }

    &__data-text {
        margin-top: 40px;
        opacity: .7;
        height: 87px;
        font-size: 18px;
        line-height: 28.8px;
    }

    &__img {
        position: relative;
        top: -112px;
        right: -114px;
    }
}

.btn {
    background: #3A68B8;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 112px;
    height: 52px;
    border: none;
    border-radius: 5px;
}

.btn-1 {
    margin-top: 50px;
    width: 171px;
    height: 57px;
    font-size: 20px;
}

.btn-2 {
    margin-left: 20px;
    width: 217px;
    height: 57px;
    font-size: 20px;
    position: relative;
    padding-left: 30px;
}

.btn-3 {
    margin-left: 65px;
    margin-top: 50px;
    width: 150px;
}

.polygon {
    width: 27px;
    height: 26px;
    position: absolute;
    left: 30px;
}

.group {
    display: flex;
    justify-content: space-between;
    margin-top: -28px;
}

.about {
    display: flex;

    &__data-title {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        margin-top: 397px;
        margin-left: 65px;
    }

    &__data-subtitle {
        color: #fff;
        opacity: .7;
        margin-top: 30px;
        font-weight: 600;
        margin-left: 65px;
        width: 460px;
        line-height: 25.6px;
    }

    &__img {
        margin-top: 223px;
        margin-left: -130px;
    }    
}

.swiper-container {
    margin-top: 170px;
    min-height: 440px;
    max-width: 1146px;
}

.swiper-wrapper {
    display: flex;
    
}

.swiper-slide {
    width: 362px;
    height: 389px;
    
    & img {
        padding: 30px 132px;
    }
}

.slide-item {
    background-color: #19202d;
    opacity: .8;
    border-radius: 10px;

    & p {
        width: 287px;
        height: 129px;
        color: #fff;
        opacity: .7;
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 600;
        margin: 30px auto;
        text-align: center;  
    }
}

.slide-item--1 img {
    margin-top: 30px;
}

h3 {
    margin: 0 auto;
    color: #fff;
    width: 302px;
    font-size: 25px;
    font-weight: bold;
    line-height: 31.25px;
    opacity: .7;
    text-align: center;
}