@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #020A18;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.container {
    max-width: 1146px;
    margin: 0 auto; 
}

.header {
    max-width: 1920px;
    height: 100px;
    background-color: #0A121F;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

