@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #020A18;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.container {
    max-width: 1146px;
    margin: 0 auto; 
}

.header {
    max-width: 1920px;
    background-color: #0A121F;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__list {
        display: flex;
    }

    &__link {
        color: #fff;
        font-weight: 600;
        margin-right: 40px;

    }

    &__item:last-child {
        margin-right: 134px;
    }
}

.home {
    display: flex;
    margin-top: 162px;
    

    &__data-subtitle {
        color: #3A68B8;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;   
    }

    &__data-title {
        font-size: 55px;
        font-weight: 800;
        width: 604px;
        line-height: 130%;
        margin-top: 10px;
    }

    &__data-text {
        margin-top: 40px;
        opacity: .7;
        font-size: 18px;
    }

    &__img {
        position: relative;
        top: -112px;
        right: -114px;
    }
}

.btn {
    background: #3A68B8;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 112px;
    height: 52px;
    border: none;
    border-radius: 5px;
}

